PORT=5000
NODE_ENV=development

# MongoDB Local
MONGODB_URI=mongodb://localhost:27017/rentalmeet

# JWT
JWT_SECRET=rentalmeet_super_secret_jwt_key_2026_production_ready
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dsvotvxhq
CLOUDINARY_API_KEY=886837389255772
CLOUDINARY_API_SECRET=aW_hpmUewFUAoQmLvfhaI7Aw12M
CLOUDINARY_FOLDER=INEXT - RentalMeet

# Email (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rishimaheshwari010@gmail.com
SMTP_PASSWORD=ubqx vact gviv pcbb

# Encryption (32 characters)
ENCRYPTION_KEY=rentalmeet2026encryptionkey123

# Commission
DEFAULT_COMMISSION_RATE=15
